<!-- <button nz-button (click)="createNotification('success')">Success</button>
<button nz-button (click)="createNotification('info')">Info</button>
<button nz-button (click)="createNotification('warning')">Warning</button>
<button nz-button (click)="createNotification('error')">Error</button>


<a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
  Click me
  <i nz-icon nzType="down"></i>
</a>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item class="menu-item">1st menu item</li>
    <li nz-menu-item class="menu-item" >2nd menu item</li>
    <li nz-menu-item class="menu-item">3rd menu item</li>
  </ul>
</nz-dropdown-menu>

<input type="number" ngModel> -->


<a [routerLink]="['/library/thumb-view']">
  Link to Library
</a>

<router-outlet></router-outlet>


